<footer class="page-footer grey lighten-4">
    <!--<div class="container footer-images">
        <div class="row">
            <div class="col l3 m3 s3 offset-s3 offset-m3 offset-l3 right-border">
                <img src="images/qro-esta-en-nosotros-footer.png" alt="qro-está-en-nosotros" class="responsive-img right footer-left-img">
            </div>
            <div class="col l3 m3 s3">
                <img src="images/upcq.png" alt="qro-está-en-nosotros" class="responsive-img left footer-right-img">
            </div>
        </div>
    </div>-->
    <div class="dark-blue-hover white-text">
        <div class="container center-align">
            Coordinación Estatal de Protección Civil de Querétaro, todos los derechos reservados © 2015-2021
        </div>
        <ul class="footer-nav">
            <li class="white-text"><a href="#">Contáctanos</a></li>
            <li class="white-text"><a href="#">Póliticas de uso y privacidad</a></li>
            <li class="white-text"><a href="#">Acerca de esta web</a></li>
            <li class="white-text"><a href="#">Mapa del sitio</a></li>
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
</body>

</html>
