<h1>jQuery en:</h1>
<h4>Llena las opciones de categoria al crear un articulo nuevo.</h4>
<h4>Picale al boton de buscar arriba a la derecha.</h4>
<h4>Picale al boton de aqui abajo.</h4>
<h4>Seamos felices todos.</h4>
<br><br>
<a id="boton-animacion" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>no digas nada, solo aplastame... shh...</a>
<br><br>
<div id="animacion"></div>
<br>
<h4>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</h4>
<img id="imagenajax" class="responsive-img" src="images/ajaxjquery.png">
<br>
<p>AJAX permite que la experiencia de usuario sea mejor ya que evita que, con cada cambio en el sitio, este se tenga que volver a cargar completamente, permite que la información sea recuperada sin que el usuario lo sepa.</p>
<p>Con AJAX los archivos HTML, CSS y JavaScript ya están cargados y en lugar de recibir nuevamente todos estos archivos con la información nueva, JavaScript se comunica directamente con el servidor para estarse comunicando constantemente y solo mandar pequeños paquetes de información.</p>
<p>jQuery le da a AJAX varios métodos que le dan la facilidad de realizar peticiones de texto, HTML, XML, JSON desde un servidor remoto usando HTTP Get y HTTP Post.</p>
<br>
<h4>¿Qué alternativas a jQuery existen?</h4>
<p>JavaScript puro es una alternativa, sin librerias, el problema es cuando las selecciones de elementos se vuelven complicadas porque existen muchos de ellos, lo que vuelve el desarrollo de este tipo bastante complicado.</p>
<p>Otra alternativa es utilizar librerias minimalistas, algunas de ellas son modulares, lo que nos permite seleccionar solamente lo que necesitamos de manera concreta.</p>
<p>También se puede utilizar librerías selectoras, las cuales se pueden utilizar cuando sólo se necesita la capacidad de los selectores de tipo CSS y asociar después un determinado evento sobre los mismos a mano.</p>