/*Universal style*/
*
{
    font-family: sans-serif
}

/*Style for specific elements*/
h1
{
    text-align: center
}
    
p
{
    text-align: justify
}

table, th, td {
    border: 1px solid black;
}

/* Class for p when it's a reference*/
p.reference
{
    font-style: italic
}

/* Generic selector for fantasy font-family*/
.stylish
{
    font-family: fantasy
}

/* id selectors for images*/
#images
{
    width: 500px;
    height: 500px;
}

/*Pseudo class for labels*/
a:hover
{
    color: crimson
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}