<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<br>
<form method="post" action="nameBasic.php" enctype="multipart/form-data">
    <div class="container">
        <div class="row center">
            <div class="input-field col s5 m5 l5">
                <a href="process.php?id=1" class="waves-effect waves-light btn">Pregunta 2</a>
            </div>
            <div class="input-field col s5 m5 l5">
                <a href="process.php?id=2" class="waves-effect waves-light btn">Pregunta 1</a>
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>