<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<br>
<form method="post" action="nameBasic.php" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="input-field col s10 m10 l10">
                <input data-length="50" maxlength="50" id="nombre" type="text" class="validate" name="nombre" required="true">
                <label class="active" for="nombre">Nombre</label>
            </div>
        </div>
        <button class="right btn waves-effect waves-light light-blue flow-text" type="submit" name="action">Enviar</button>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function() {
        Materialize.updateTextFields();
    });
</script>