<p>Se ha creado con exito un nuevo Empleado, los datos son:</p>
<ul class="collection with-header">
    <li class="collection-header">Nombre: <?=$nombre?> <?=$apeP?> <?=$apeM?></li>
    <li class="collection-header">Puesto: <?=$puesto?></li>
    <li class="collection-header">Nombre Usuario: <?=$usuario?></li>
</ul>
<div class="section pink white-text">
    <h5 class="center-align uppercase">FAQ Lab 11</h5>
</div>
<ul class="collection with-header">
    <li class="collection-header">1.- ¿Por qué es una buena práctica separar el controlador de la vista? De esta manera el producto de software se vuelve modular y así se puede reemplazar o actualizar solamente la parte que se necesita, en lugar de tener que acceder a un archivo donde se encuentra todo junto y tener que buscar la sección que se necesita modificar.</li>
    <li class="collection-header">2.- Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</li>
    <ul class="collection with-header">
        <li class="collection-header">$_FILES: Es una variable tipo array asociativo de elementos cargados al script actual a través del método POST.</li>
        <li class="collection-header">$_SERVER: Es un array que contiene información, tales como cabeceras, rutas y ubicaciones de script. Las entradas de este array son creadas por el servidor web.</li>
        <li class="collection-header">$_REQUEST: Es un array asociativo que por defecto contiene el contenido de $_GET, $_POST y $_COOKIE.</li>
        <li class="collection-header">$_SESSION: Es un array asociativo que contiene variables de sesión disponibles para el script actual.</li>
        <li class="collection-header">$_ENV: Una variable tipo array asociativo de variables pasadas al script actual a través del método del entorno.</li>
        <li class="collection-header">$_COOKIE: Una variable tipo array asociativo de variables pasadas al script actual a través de Cookies HTTP.</li>
    </ul>
    <li class="collection-header">3.- Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención:</li>
    <ul class="collection with-header">
        <li class="collection-header">unset(): Destruye una variable especificada.</li>
        <li class="collection-header">Empty: Determina si una variable está vacía.</li>
    </ul>
    <li class="collection-header">4.- ¿Qué es XSS y cómo se puede prevenir? Es un tipo de inseguridad informática o agujero de seguridad típico de las aplicaciones Web, que permite a una tercera persona inyectar en páginas web visitadas por el usuario código JavaScript o en otro lenguaje similar (ej: VBScript), evitando medidas de control como la Política del mismo origen. Para evitarlo existen diversos métodos, uno de ellos es utilizar la función strip_tags de PHP que, dada una cadena de texto, limpia todas las etiquetas HTML que encuentre.</li>
</ul>