<br>  
<br>  
<div class="row">
    <form class="col s12" action="guardar.php" method="POST">
        
      <?php if(isset($Articulo)): ?>
          <input name="id" id="id" type="hidden" value="<?=$Articulo["id"];?>">
      <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Título del Artículo" name="titulo" id="titulo" type="text" class="validate" minlength="1" maxlength="50" required value="<?php if(isset($Articulo)) echo $Articulo["Titulo"] ?>">
          <label for="titulo">Título</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Descripción del Artículo" name="descripcion" id="descripcion" type="text" class="validate" minlength="1" maxlength="1000" required value="<?php if(isset($Articulo)) echo $Articulo["Descripcion"] ?>">
          <label for="descripcion">Descripción</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Categoría del Artículo" name="categoria" id="categoria" type="text" class="validate" minlength="1" maxlength="50" required value="<?php if(isset($Articulo)) echo $Articulo["Categoria"] ?>">
          <label for="categoria">Categoría</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="URL relacionado al Artículo" name="url" id="url" type="text" class="validate" minlength="1" maxlength="250" required value="<?php if(isset($Articulo)) echo $Articulo["URL"] ?>">
          <label for="url">URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($Articulo)): ?>Actualizar<?php else: ?>Publicar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>