<p>¿Por qué es una buena práctica separar el modelo del controlador?</p>
<p>Porque de esta manera se cuenta con una mejor organización de las partes del sistema, así, si es necesario modificar algo, es más fácil legar al archivo donde se tiene que hacer el cambio. Además que hace el proyecto más modular.</p>
<br>
<br>
<p>¿Qué es SQL injection y cómo se puede prevenir?</p>
<p>Es un tipo de ataque a una base de datos en el cual, por la mala filtración de las variables se puede inyectar un código creado por el atacante al propio código fuente de la base de datos.</p>
<p>Para evitarlo: Escapar los caracteres especiales utilizados en las consultas SQL con funciones como mysql_real_scape_string() en PHP. Delimitar los valores de las consultas. Verificar siempre los datos que introduce el usuario con funciones como ctype_digit() para saber si es un número o ctype_alpha () para saber si se trata de una cadena de texto en PHP. Asignar mínimos privilegios al usuario que conectará con la base de datos. Y, finalmente, asegurarnos de que no hemos dejado ningún tipo de puertas abiertas, aunque suelen ser procesos caros realizados por terceras empresas.</p>