<p>Se ha creado con exito un nuevo Empleado, los datos son:</p>
<ul class="collection with-header">
    <li class="collection-header">Nombre: <?=$nombre?> <?=$apeP?> <?=$apeM?></li>
    <li class="collection-header">Puesto: <?=$puesto?></li>
    <li class="collection-header">Nombre Usuario: <?=$usuario?></li>
</ul>
<img class="responsive-img" src="<?=$_SESSION["foto"] ?>">
<div class="section pink white-text">
    <h5 class="center-align uppercase">FAQ Lab 13</h5>
</div>
<ul class="collection with-header">
    <li class="collection-header">1.- ¿Por qué es importante hacer un session_unset() y luego un session_destroy()? session_unset() solamente limpia la variable $_SESSION pero cuando el script se termine de ejecutar, el estado de $_SESSION se escribirá al archivo, después limpiará el archivo pero no lo eliminará, lo que hace session_destroy() es eliminar el archivo de sesión para que cuando se ejecute el script no exista un archivo en el que escribir el estado de $_SESSION.</li>
    <li class="collection-header">2.- ¿Cuál es la diferencia entre una variable de sesión y una cookie? La diferencia radica en que las variables de sesión guardan los datos en la memoria del servidor web mientras que las cookies guardan la información en un archivo en el cliente.</li>
    <li class="collection-header">3.- ¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre? Hay varias maneras distintas como puede ser modificar el nombre a un identificador unico, agregar un identificador al final del nombre de la imagen, concatenar al nombre de la imagen la fecha y/o nombre de usuario, generar un valor aleatorio que se concatene al nombre del archivo, etc.</li>
    <li class="collection-header">4.- ¿Qué es CSRF y cómo puede prevenirse? CSRF es un ataque que fuerza al navegador web de su víctima, validado en algún servicio a enviar una petición no deseada a una aplicación web vulnerable. Para evitarlo es necesario asegurarse que una acción está realmente siendo llevada a cabo por el usuario en lugar de un tercero, hay que asociarlo con algún tipo de identificador único que puede ser verificado después, llamado token.</li>
</ul>