<p>No se ha podido crear nuevo empleado porque se ingresaron valores incorrectos en el formulario, por favor vuelva a intentarlo con valores válidos.</p>
<p>La razón más común de este error es que la contraseña ingresada no coincida con la contraseña de confirmación, ¿es tu caso?</p>
<p>Las contraseñas son iguales: <?=$validPass?></p>
<a href="empleados.php" class="waves-effect waves-light btn">Empleados</a>