<br>
<p>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</p>
<p>Porque de esta manera no es necesario refrescar la página para poder tener datos que se actualizan en tiempo real y hacer que la experiencia del usuaria sea mejor y más satisfactoria.</p>
<br>
<p>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</p>
<p>El problema es que los datos son mandados en texto plano, para evitar cualquier tipo de ataque las validaciones deben de ser realizadas del lado del servidor.</p>
<br>
<p>¿Qué es JSON?</p>
<p>Cuando se intercambian datos entre un servidor y su cliente, esta tiene que ser enviada por medio de texto. JSON es un formato de texto en el que se puede enviar un objeto con sus atributos y características.</p>
<br>
<br>